body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1a1a1a; 
  color: #fff; 
}

header {
  background-color: #DAA520; 
  
}

header h1 {
  margin: 0;
}
.titulo h1 {
  font-size :80px; 
  margin-bottom: -40px;     
}
.titulo{
  margin: 10px;
}
.titulo img{
  width: 150px;
  height: 150px;
  margin: 50px;

}
.titulo .subt{
  font-size :50px; 
  font-family: "The Quick Brown Fox Jumps Over The Lazy Dog	"; 
  line-height:"10px"
}

nav ul {    
  list-style-type: none;
  padding: 0;
}

.subt ul li {
  display: inline;
  margin: 0 15px;
}

.subt ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aula {
  background-color: #333; 
  margin: 20px 0;
  padding: 15px;
  border-radius: 8px;
  width: 1400px;
  height: 500px;

}

.aula h2 {
  color: #DAA520; 
  font-size: xx-large;
}

footer {
  background-color: #DAA520; 
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}

table {
  width: center;
  height: center;
  margin: 70px;
}

.logo {
  width: center;
  height: 250px;
  text-align: center;
}

.texto1 {
  width: center;
  height: 0px;
  text-align: center;
  font-family: Arial, sans-serif;
}